#about-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
  margin: 100px 0;
}

.history {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  img {
    max-width: 600px;
    object-fit: cover;
    /* order: 2; */
    border-radius: 20px;
  }

  .left {
    max-width: 600px;
    margin-right: 50px;
    /* order: 1; */
  }
}

@media (max-width: 1209px) {

  .history {
    img {
      order: 1;
    }
  
    .left {
      order: 2;
    }
  }
  
}

section.mission {

  background: var(--light-yellow);
  display: flex;
  gap: 2%;
  padding-right: 20px;

  div.left {
    width: 20px;
    background-color: var(--orange);
    height: auto;
  }

}

.contact {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  .left {
    background: var(--green);
    margin-right: 40px;
    p {
      padding: 0 20px;
    }
  }

  .right {

    h2 {
      line-height: 40px;
    }

    max-width: 50%;
    span {
      color: var(--orange);
      font-weight: bold;
    }
  }

}

@media (max-width: 700px) {


  .contact .left {
    margin-right: 0;
  }

  .contact .right {
    max-width: 90%;
  }

  .history {

    img {

      max-width: 400px;
    }

    .left {
      max-width: 400px;
      margin-right: 0;
    }
  }
} 