/*index specific stylesheet*/

.headline {
  
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
  border: solid red thin;
  
  img {
    display: block;
    border: solid red thin;
    min-width: 400px;
  }

  h1 {
    border: solid red thin;
  }

  .btn-group {

    min-width: 26%;
    display: flex;
    justify-content: space-between;
    border: solid red thin;

  }

}


/* about us */

#index-about-us {
  
  .container {
    display: flex;
    flex-wrap: wrap;
  }

  .left {
    flex: 1;
    background: var(--light-yellow);
    padding: 50px 5%;
    min-width: 400px;
  }

  .right {
    flex: 1;
    background: var(--green);
    padding: 50px 5%;
    min-width: 400px;

    p {
      margin-bottom: 10%;
    }

    .btn-group {
      
      .btn {
        margin-right: 10px;
      }
      
    }
  }
  
}

/* featured pets */

#featured-pets {

  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px 0 200px 0;

  #pets-container {
  
      display: flex;
      flex-direction: row;
      gap: 20px;
      /* overflow-x: auto; */
      /* white-space: nowrap; */

    div.card {

      background: var(--light-yellow);
      border-radius: 20px;

      .card-img {
        max-height: 250px;
        max-width: 250px;
        border-radius: 15px 15px 0 0;
        object-fit: cover;
      }

      .card-content {

        /* border: red solid thin; */
        padding: 10px 20px 20px 20px;

        p {
          margin: 0;
          padding: 0;
          color: var(--green);
          margin-bottom: 10px;
        }

        span.information {
          border: solid 1px var(--green);
          font-size: var(--small);
          padding: 5px 10px;
          border-radius: 50px;
          font-family: var(--body);
          font-weight: 400;
          font-size: var(--xs);
        }

        span.information.status {
          font-weight: bold;
        }

        p.information {
          margin-bottom: 40px;
        }

        p.secondary-font {
          font-size: var(--sm-med);
        }

        h3.pet-name {

          padding: 0;
          margin: 10px 0 5px 0;
          color: var(--green);
        }

        .btn-pane {
          /* border: red solid thin; */
          display: flex;
          justify-content: right;

        }

      }

    }

  }


  div.card:hover { 
    transform: scale(1.03);
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.881);
    transition: all 0.03s ease-in;
  }

  #pets-container::-webkit-scrollbar {
    height: 8px;
  }

  #pets-container::-webkit-scrollbar-thumb {
    background: var(--light-yellow);
    border-radius: 4px;
  }

  #pets-container::-webkit-scrollbar-track {
    background: var(--orange);
  }

  @media (max-width: 768px) {
    #pets-container {
      width: 100%; /* Full width for small screens */
      overflow-x: auto; /* Allow horizontal scrolling */
    }
  }

}

footer {
  
  .upper {
    display: flex;
    justify-content: space-between;
    padding: 30px 50px;

    li {
      text-align: right;
    }

  }

  .credits {
    p {
      text-align: center;
      padding-bottom: 18px;
    }
  }
}