/* stylesheet */

:root {
  --green: #23472E;
  --light-yellow: #FFCE6C;
  --dark-yellow: #EFAD1B;
  --beige: #FFF2E3;
  --orange: #D37300;
  --link: #FF8500;
  
  /* font families */
  --secondary: "Instrument Serif", serif;
  --header: "Climate Crisis", "Impact", sans-serif;
  --body: "Poppins", sans-serif;

  /* font sizes */
  --xs: 12px;
  --small: 16px;
  --sm-med: 18px;
  --medium: 24px;
  --large: 32px;
  --larger: 48px;

}


/* image sizes */

.small-img {
  width: 150px;
  height: auto;
}

.large-img {
  width: 30%;
  height: auto;
}

@media screen and (max-width: 480px) {
  .large-img {
    width: 20%;
    height: auto;
  }
}

.small-img {
  width: 100px;
}

/* remove default styles */

.rmv-link-design {
  text-decoration: none;
}

.rmv-bullets {
  list-style-type: none;
}


/* font families */

.header-font {
  font-family: "Climate Crisis", "Impact", sans-serif;
}

.secondary-font {
  font-family: "Instrument Serif", serif;
}

.body-font {
  font-family: "Poppins", sans-serif;
}


/* text colors */

.clr-green {
  color: var(--green);
}

.clr-beige {
  color: var(--beige);
}

.clr-yellow {
  color: var(--light-yellow);
}



/* text sizes */

.txt-12 {
  font-size: var(--xs);
}

.txt-16 {
  font-size: var(--small);
}

.txt-18 {
  font-size: var(--sm-med);
}

.txt-24 {
  font-size: 24px;
}

.txt-32 {
  font-size: 32px;
}

.txt-48 {
  font-size: 48px;
}

@media screen and (max-width: 480px) {
  .txt-48 {
    font-size: var(--large);
  }

  .txt-32 {
    font-size: var(--medium);
  }

  .txt-24 {
    font-size: var(--sm-med);
  }

  .txt-18 {
    font-size: var(--small);
  }

  .txt-16 {
    font-size: var(--xs);
  }
}



/* backgrounds */

.green-bg {
  background: var(--green);
}

.light-yellow-bg {
  background: var(--light-yellow);
}



/* buttons */

.btn {
  text-decoration: none;
  padding: 10px 48px;
  border-radius: 50px;
}

.small-btn {
  padding: 5px 20px!important;
  font-family: var(--body);
}

.primary-btn {
  font-family: var(--secondary);
  font-size: var(--medium);
  color: var(--beige);
  background: var(--green);
}

.secondary-btn {
  font-family: var(--secondary);
  font-size: var(--medium);
  color: var(--green);
  background: var(--light-yellow);
}

.orange-btn {
  font-family: var(--secondary);
  font-size: var(--medium);
  color: var(--beige);
  background  : var(--orange);
}

.reg-link {
  color: var(--link);
}


@media screen and (max-width: 480px) {

  .primary-btn {
    font-size: var(--small);
  }

  .secondary-btn {
    font-size: var(--small);
  }

  .orange-btn {
    font-size: var(--small);
  }
}




/* interaction actions */

.reg-link:hover {
  text-decoration: none;
}

.reg-link:active {
  color: var(--light-yellow);
}

.nav-link:hover {
  color: var(--link);
}

.nav-link:active {
  color: var(--orange);
}

.btn:hover {
  /* box-shadow: 2px 2px 5px rgba(33, 33, 29, 0.525); */
  /* inner glow: */
  box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.5); 
  transition: all linear 0.03s;
}

.primary-btn:hover {
  background: #346b45;
}

.secondary-btn:hover {
  background: #ffd788;
}

.orange-btn:hover {
  background: #eb8100;
}

.primary-btn:active {
  background: #4d9664;
}

.secondary-btn:active {
  background: #ffdd9a;
}

.orange-btn:active {
  background: #ff9c23;
}



/* section specific */

body {

  margin: 0;
  background: var(--beige);

}



/* navigation */

nav {

  background: var(--green);
  padding: 20px 10px;

  div {

    display: flex;
    justify-content: space-between;
    /* max-width: 96%; */
    padding: 0 20px ;
    /* margin: auto; */

    /* border: red solid thin; */
    
    a {
      /* border: red solid thin; */
      display: flex;

      img {
        display: block;
        min-width: 150px;
        /* border: red solid thin; */
      }

    }


    ul {

      /* border: red solid thin; */
      padding: 0;
      display: flex;
      justify-content: space-between;
      gap: 20px;

      /* border: red solid thin; */

      li {
        /* white-space: nowrap; */
        display: block;
      }

    }

  }

  

}


@media screen and (max-width:480px) {

  nav {
    padding: 10px 10px;
  }
  
  nav div {
    padding: 0 5px;
    flex-direction: column;
    align-items: center;
  }


  nav div a img {
    margin-top: 20px;
  }
  
  nav ul {
    margin-top: 32px;
    justify-content: space-between; 
    align-self: stretch;

    li a {
      font-size: var(--medium)!important;
    }

  }

}


/* footer */

footer {
  
  .upper {
    display: flex;
    justify-content: space-between;
    padding: 30px 50px;

    li {
      text-align: right;
    }

  }

  .credits {
    p {
      text-align: center;
      padding-bottom: 18px;
    }
  }
}