/* stylesheet */

:root {
  --green: #23472E;
  --light-yellow: #FFCE6C;
  --dark-yellow: #EFAD1B;
  --beige: #FFF2E3;
  --orange: #D37300;
  --link: #FF8500;
  
  /* font families */
  --secondary: "Instrument Serif", serif;
  --header: "Climate Crisis", "Impact", sans-serif;
  --body: "Poppins", sans-serif;

  /* font sizes */
  --xs: 12px;
  --small: 16px;
  --sm-med: 18px;
  --medium: 24px;
  --large: 32px;
  --larger: 48px;

}

.small-img {
  width: 150px;
  height: auto;
}

.large-img {
  width: 30%;
  height: auto;
}

.rmv-link-design {
  text-decoration: none;
}

.rmv-bullets {
  list-style-type: none;
}

.header-font {
  font-family: "Climate Crisis", "Impact", sans-serif;
}

.secondary-font {
  font-family: "Instrument Serif", serif;
}

.body-font {
  font-family: "Poppins", sans-serif;
}

.clr-green {
  color: var(--green);
}

.clr-beige {
  color: var(--beige);
}

.clr-yellow {
  color: var(--light-yellow);
}

.txt-24 {
  font-size: 24px;
}

.txt-32 {
  font-size: 32px;
}

.txt-48 {
  font-size: 48px;
}

.btn {
  text-decoration: none;
  padding: 10px 48px;
  border-radius: 50px;
}

.small-btn {
  padding: 5px 20px!important;
  font-family: var(--body);
}

.green-bg {
  /* color: var(--beige); */
  background: var(--green);
}

.light-yellow-bg {
  background: var(--light-yellow);
}

.primary-btn {
  font-family: var(--secondary);
  font-size: var(--medium);
  color: var(--beige);
  background: var(--green);
}

.secondary-btn {
  font-family: var(--secondary);
  font-size: var(--medium);
  color: var(--green);
  background: var(--light-yellow);
}

.orange-btn {
  font-family: var(--secondary);
  font-size: var(--medium);
  color: var(--beige);
  background  : var(--orange);
}


/* interaction actions */

.reg-link {

}

.nav-link:hover {
  color: var(--link);
}

.nav-link:click {
  color: var(--orange);
}

.btn:hover {
  
}

.btn:active {

}




/* section specific */

body {

  margin: 0;
  background: var(--beige);

}



/* navigation */
nav {

  background: var(--green);
  padding: 20px 10px;

  div {

    display: flex;
    justify-content: space-between;
    max-width: 96%;
    margin: auto;
    /* border: red solid thin; */
    
    img {
      display: block;
      /* border: red solid thin; */
    }

    div {
      flex: 3;
    }

    ul {

      flex: 1;
      /* border: red solid thin; */
      padding: 0;
      display: flex;
      justify-content: space-between;
      gap: 5%;

      li {
        white-space: nowrap;
      }

    }

  }
}





